.userContainer {
	width: 100%;
	height: 200px;
	background: var(--profile-bg);
	border-radius: var(--border-radius);

	display: flex;
	align-items: flex-end;

	z-index: 99;

	margin-top: 20px;
	box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.2);
}

.userInfo {
	margin-top: auto;
	width: 100%;
	height: 80px;
	background-color: var(--color-white);
	border-radius: var(--border-radius);

	padding-left: 20px;
	padding-right: 20px;

	box-shadow: 0 -2px 4px 0 rgba(34, 60, 80, 0.2);
}

.avatar {
	position: relative;
	margin-top: -50px;
	margin-right: 15px;
}

.avatarBlock {
	display: flex;
}

.user {
	margin-top: 7px;
}
